<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<!--  표지 슬라이드 제목과 부제목으로 이루어짐 -->
<section class="S1 aligncenter" id="S1">
    <div class="wrap">
        <h1 class="text-landing">표제를 입력하십시오.</h1>
        <p class="text-subtitle">부제를 입력하십시오.</p>
    </div>
</section>
        <!--
        <section>
            <th:block th:each="arg : ${articleDetail}">
                <th:block th:with="contents=${arg.contentText}">
                    <th:block th:each="content : ${contents}">
                        <th:block th:utext="${content}"></th:block>
                    </th:block>
                </th:block>
            </th:block>
        </section>
         사용된 class들
        <h1 class="text-landing">제목</h1>
        <p class="text-intro">부제목</p>

    </div>
</section>
        -->
</html>