<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<!-- 제목 + 내용 슬라이드 하나의 제목과 하나의 내용으로 이루어짐-->
<section class="slide-top" id="S2">
    <div class="wrap">
        <div class="content-center">
            <h3>표제를 입력하십시오.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A delectus nihil labore nam sit porro, ducimus est, repellendus, maiores numquam ipsa amet. Fugit, quaerat accusantium et quibusdam sapiente totam iusto.</p><br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A delectus nihil labore nam sit porro, ducimus est, repellendus, maiores numquam ipsa amet. Fugit, quaerat accusantium et quibusdam sapiente totam iusto.</p><br>
        </div>
    </div>
</section>

<!--
<section th:fragment="s2(contentText)" class="aligncenter">
    <section class="S2 aligncenter">
        <div class="wrap">
            <h1 class="text-landing">표제를 입력하세요</h1>
            <div class="content-center">
                <h3>내용을 입력하십시오.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dignissimos,
                    reiciendis quia unde consectetur eos, modi nobis fugiat, itaque sapiente ab odit
                    repellat eveniet accusamus reprehenderit illum vel quis nisi.</p>
            </div>
        </div>
    </section>
</section>
-->
</html>