<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>
<!-- 하나의 표제와 두개의 그리드 / 사이드 + 메인-->
<section id="S4">
    <div class="wrap">
        <h2>제목을 입력하여 주십시오</h2>
        <hr>
        <div class="grid ms">
            <div class="column">
                <h3>내용 #2</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus deleniti ab nam facilis minima minus reprehenderit ipsam ullam eligendi! Dolorem, odio laborum. Magnam consequatur odio voluptatibus ullam, enim natus ipsa.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere saepe repellendus deleniti numquam eaque veritatis nemo asperiores, cumque nobis, cum accusamus blanditiis iusto nam. Vero voluptate eius unde dolorem excepturi?</p>
            </div>
            <div class="column">
                <h3>내용#1</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ducimus nam possimus, at eius, natus ad nesciunt dolor, et qui autem dolorum. Maiores doloribus provident voluptates minus illum sit. Eum.</p>
            </div>
        </div>
    </div>
</section>
<!-- 이미지가 왼쪽으로 정렬된 레이아웃
<section th:fragment="s4(contentText)" class="wrap">
    <img class="alignleft size-50" src="" alt="img">
    <h2 class="text-landing"></h2>
    <p></p>
</section>
-->
</html>