<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="#{title.article.list}">온라인 마크다운 PPT 서비스! 피피토 | PPT 리스트</title>
</head>

<div layout:fragment="content">

    <!-- 임시 -->
    <div class="min-h-screen flex flex-col">
        <div class="container mx-auto min-h-screen flex justify-center py-10 rounded-md">
            <div class="flex flex-col w-full">
                <div class="">
                    <div class="flex justify-center">
                        <table class="container mx-auto">

                            <thead>
                            <tr class="w-full bg-gray-200">
                                <th th:text="#{number}">번호</th>
                                <th th:text="#{usr.article.title}">제목</th>
                                <th th:text="#{usr.member.nickname}">닉네임</th>
                                <th th:text="#{usr.member.regDate}">등록일</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="article : ${articles}" class="whitespace-nowrap w-full">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    <span th:text="${article.id}"></span>
                                </td>
                                <td class="px-6 py-4">
                                    <a th:href="@{../article/view/{articleId}(articleId=${article.id})}" class="hover:underline">
                                        <span th:text="${article.title}" class="text-sm text-gray-500"></span>
                                    </a>
                                </td>
                                <td th:with="member = ${article.member}" class="px-6 py-4">
                                    <span th:text="${member.nickname}"></span>
                                </td>
                                <td class="px-6 py-4">
                                    <span th:text="${article.regDate}"></span>
                                </td>
                                <td class="py-4">
                                    <a th:href="@{../article/view/{articleId}(articleId=${article.id})}">
                                    <span>
                                      <i class="far fa-eye"></i>
                                    </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>