<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pptor}">
<head>
  <title>view</title>
</head>

<main layout:fragment="main" role="main">
  <article id="webslides">
    <section class="bg-black aligncenter">
      <span class="background dark" style="background-image:url('https://images.unsplash.com/photo-1630042166175-0ebcd586fab9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1')"></span>
      <div class="wrap">
        <p class="text-subtitle"> 빠르고 간편하게 깔끔한 디자인으로 </p>
        <h1 class="text-landing text-shadow">피피토!</h1>
        <p class="text-symbols"> * * * </p>
      </div>
    </section>
    <section>
      <div class="wrap">
        <img class="alignleft size-50" src="https://picsum.photos/600/450?grayscale">
        <h2>제목을 입력하고</h2>
        <p></p>
        <p>이렇게 그림을 공유하고, 설명할 수 있어요</p>
        <p><strong>적당한 이미지 사이즈는 </strong><br> 800x600px 과 600x450px !</p>
      </div>
    </section>
    <section class="aligncenter">
      <div class="wrap">
        <h2><strong>마크다운</strong>만 으로!</h2>
        <p class="text-intro">이런 레이아웃도 가능해요.</p>
        <div class="grid vertical-align">
          <div class="column">
            <h6>작은 제목</h6>
            <p>하나에 책상을 이름을 가난한 어머니, 아름다운 있습니다. 아무 이런 어머님, 불러 계십니다. 내린 언덕 무성할 않은 거외다.</p>
            <p class="text-symbols">* * *</p>
          </div>
          <div class="column">
            <figure><img class="aligncenter" src="https://images.unsplash.com/photo-1583188374855-63cd16e615d3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fGNoYXJ0fGVufDB8fDB8fA%3D%3D"></figure>
          </div>
          <div class="column">
            <h6>작은 제목</h6>
            <p>내 책상을 라이너 때 청춘이 봅니다. 때 노새, 자랑처럼 위에 비둘기, 시와 오면 너무나 까닭입니다.</p>
            <p class="text-symbols">* * *</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <div class="card-50 bg-white">
          <figure>
            <iframe width="670" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%EB%8C%80%EC%A0%84%EC%8B%9C%EC%B2%AD&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <figcaption>
              <a href="https://maps.google.com" title="Google Maps">
                <svg class="fa-maps">
                  <use xlink:href="#fa-maps"></use>
                </svg>
                Google Maps
              </a>
            </figcaption>
          </figure>
          <div class="flex-content">
            <h2>
              웹이 좋은게 뭐겠어요?
            </h2>
            <p>이런 기능을 이용할 수 있는거 아니겠어요?</p>
            <ul class="description">
              <li>
                <strong title="Density">장소 소개1 :</strong> 내용
              </li>
              <li><strong title="Population">장소 소개2 :</strong> 내용</li>
              <li><strong title="Website">장소 소개3 :</strong> 내용</li>
            </ul>
            <p>
              대전광역시의 행정 및 민원 등의 업무를 총괄하는 기관으로, 1949년 8월 15일에 개청하였다. 미래산업본부·자치행정국·문화체육국·복지여성국·환경녹지국·교통건설국·도시주택국·소방본부 등이 있다.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <div class="card-50 bg-white">
          <iframe width="670" height="500" src="https://www.youtube.com/embed/fu63T9ydmY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="flex-content">
            <h2>
              온라인 동영상 스트리밍도!
            </h2>
            <p>웹이니까 가능해요 !</p>
            <ul class="description">
              <li>
                인터넷에 공유하듯이,
              </li>
              <li>
                업로드나 다운로드 필요없이,
              </li>
              <li>
                링크만으로 간편하게 !
              </li>
            </ul>
            <p>

            </p>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-black aligncenter">
      <iframe class="background-video dark" width="670" height="500" src="https://www.youtube.com/embed/fu63T9ydmY0/?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="pointer-events: none"></iframe>
      <div class="wrap">
        <h2 class="text-landing">피피토는 </h2>
        <p>이런것도 가능합니다!</p>
      </div>
    </section>
    <section class="aligncenter bg-black">
      <span class="background anim" style="background-image:url('https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8')"></span>
      <div class="wrap">
        <h2>움직이는 그림까지</h2>
      </div>
    </section>
    <section class="aligncenter">
      <div class="wrap">
        <h1 class="text-landing">피피토!</h1>
        <p>여러분의 발표준비를 간편하게 도와드릴게요.</p>
      </div>
      <!-- .end .wrap -->
    </section>
  </article>
</main>

</html>